#layout-footer {
  background: grey;
  padding: 5px 10px; }
  #layout-footer a {
    color: white;
    text-decoration: none;
    margin-left: 100px; }
  #layout-footer #footer-content {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px; }
  #layout-footer .footer-nav ul {
    list-style: none;
    margin-left: 100px; }
